<html lang="en">
    <body>  
        <% include ./partials/head.ejs %>
        <% include ./partials/navbar.ejs %>
        <div class="container">
            <section class="row text-center">
                <div class="col-lg-12">
                    <h1 class="mt-4">About Bloccit</h1>
                </div>
            </section>
            <section class="row text-center">
                <div class="col-lg-12 mt-5">
                    <p>Bloccit is putting that other <a href="https://www.reddit.com" target="_blank">/.{4}it/gi</a> site on notice! JUST KIDDING, I'm one person writing this to 
                    learn the basics of NodeJS.
                    </p>
                    <p>So you don't feel cheated in coming to this site or reading this about page, let me leave you with something useful</p>
                    <blockquote class="blockquote">
                        <h5>Banging your head against a wall for one hour burns 150 calories!</h5>
                    </blockquote>
                    <p>See useful info, especially after it's what you'll probably be doing after having read this! :)</p>
                </div>
            </section>
        </div>
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>